/* @settings
name: Syrinscape
id: syrinscape-player
settings:
  - 
    id: mood-slider-color
    title: Mood Slider Background Color
    description: The color used to indicate that the chosen slider controls a mood. All other mood sliders will be turned off when one mood is turned on. It is useful to have a different color for this slider to differentiate it from the others.
    type: variable-themed-color
    format: hex
    default-light: '#637CEB'
    default-dark: '#5E5E5E'
  - 
    id: music-slider-color
    title: Music Slider Background Color
    type: variable-themed-color
    format: hex
    default-light: '#4A6E7E'
    default-dark: '#8196A7'
  - 
    id: sfx-slider-color
    title: Sound Effect (sfx) Slider Background Color
    type: variable-themed-color
    format: hex
    default-light: '#4A6E7E'
    default-dark: '#8196A7'
  - 
    id: knob-color
    title: Color of the slider knob
    type: variable-themed-color
    format: hex
    default-light: '#FFFFFF'
    default-dark: '#AFB0B1'
*/

body.theme-dark.css-settings-manager {
    --mood-slider-color: #5E5E5E;
    --music-slider-color: #8196A7;
    --sfx-slider-color: #8196A7;
    --slider-knob-color: #AFB0B1;
}

body.theme-light.css-settings-manager {
    --mood-slider-color: #637CEB;
    --music-slider-color: #4A6E7E;
    --sfx-slider-color: #4A6E7E;
    --slider-knob-color: white;
}

.syrinscape {
    overflow: hidden;
}

/* volume stack is a flex layout column style */
.syrinscape .volume-stack {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: start;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

@keyframes illuminate {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 0.2em var(--color-accent), 0 0 0.4em var(--color-accent), 0 0 0.6em var(--color-accent), 0 0 0.8em var(--color-accent), 0 0 1em var(--color-accent);
    }

    100% {
        text-shadow: none;
    }
}

/* Apply the animation to the stopAll button when it has the 'clicked' class */
.syrinscape .stopAll:active,
.syrinscape .mute:active {
    animation: illuminate 0.5s ease-out;
}

.syrinscape .volume-tooltip {
    position: absolute;
    display: none;
    /* Initially hidden */
    background-color: var(--background-modifier-message);
    color: var(--text-on-accent);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100;
    /* Ensure it's above other elements */
    white-space: nowrap;
    /* Prevents the text from wrapping */
}

.syrinscape .stopAll,
.syrinscape .mute {
    flex-grow: 0;
    font-size: 2em;
    padding: 10px;
    /* Adjust padding as needed for visual space */
}

.syrinscape button {
    background-color: transparent;
}

/* Any input element inside of the syrinscape-markdown class should render as a on/off slider */
/* The switch - the box around the slider */
.syrinscape-markdown .switch {
    position: relative;
    display: inline-block;
    width: 1.76em;
    height: 1em;
}

/* Hide default HTML checkbox */
.syrinscape-markdown .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.syrinscape-markdown .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.syrinscape-markdown .slider:before {
    position: absolute;
    content: "";
    height: 0.76em;
    width: 1em;
    top: 0.12em;
    left: 0.1em;
    right: 0.1em;
    bottom: 0.12em;
    background-color: var(--slider-knob-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.syrinscape-markdown span.sfx {
    background-color: var(--sfx-slider-color);
}

.syrinscape-markdown input.sfx:checked+.slider {
    background-color: var(--sfx-slider-color);
}

.syrinscape-markdown input.sfx:checked+.slider {
    background-color: var(--sfx-slider-color);
}

.syrinscape-markdown span.music {
    background-color: var(--music-slider-color);
}

.syrinscape-markdown input.music:checked+.slider {
    background-color: var(--music-slider-color);
}

.syrinscape-markdown input.music:checked+.slider {
    background-color: var(--music-slider-color);
}

.syrinscape-markdown span.mood {
    background-color: var(--mood-slider-color);
}

.syrinscape-markdown input.mood:checked+.slider {
    background-color: var(--mood-slider-color);
}

.syrinscape-markdown input.mood:checked+.slider {
    background-color: var(--mood-slider-color);
}

.syrinscape-markdown input:focus+.slider {
    box-shadow: 0 0 1px var(--slider-knob-color);
}

.syrinscape-markdown input:checked+.slider:before {
    -webkit-transform: translateX(0.75em);
    -ms-transform: translateX(0.75em);
    transform: translateX(0.75em);
}

/* Rounded sliders */
.syrinscape-markdown .slider.round {
    border-radius: var(--checkbox-radius);
}

.syrinscape-markdown .slider.round:before {
    border-radius: var(--checkbox-radius);
}


.syrinscape .title {
    background-color: rgba(255, 255, 255, 0.5);
}

/* flexbox with a colum layout */
.syrinscape .alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-error);
    height: 100%;
    width: 100%;
}

.syrinscape .alert button {
    color: var(--text-error);
    background-color: var(--background-primary-alt);
    border-radius: var(--button-radius);
    opacity: 100%;
    font-size: 2em;
}

/* all markdown elements should start out as non-interactive and be covered by a white square */
.syrinscape-markdown a {
    font-family: emoji;
}

/* target all anchors with the inactive class */
.syrinscape-markdown .inactive {
    pointer-events: none;
    filter: opacity(0.5);
}


.syrinscape-markdown a.oneshot.playing {
    display: inline;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--color-accent), 0 0 40px var(--color-accent), 0 0 50px var(--color-accent), 0 0 60px var(--color-accent), 0 0 70px var(--color-accent);
}

/*
 Syrinscape CSS (c) Syrinscape.inc
 */
.syrinscape {
    align-items: center;
    background-image: url("https://syrinscape.com/static/img/BG-Base.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 50%;
    position: relative;
    width: 100%;
}

.syrinscape .cta {
    display: flex;
    margin-top: -50%;
}

.syrinscape .interface {
    display: none;
    margin-top: -50%;
}

.syrinscape .visualisations-container {
    left: 0;
    bottom: 0;
    opacity: 0.7;
    position: absolute;
    width: 100%;
}

.syrinscape .visualisations {
    padding-top: 50%;
    position: relative;
    width: 100%;
}

.syrinscape .d3-frequency {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(-1);
    width: 100%;
}

.syrinscape .d3-waveform {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(-1);
    width: 100%;
}

.syrinscape .d3-waveform svg {
    height: 100%;
    width: 100%;
}

.syrinscape .controls {
    display: flex;
    align-items: center;
    margin: 50px auto;
    position: relative;
    /* always above the visualisation */
    flex-direction: row;
    width: calc(100% - 40px);
    /* Adjust based on your specific needs */
}

.syrinscape .local-volume,
.syrinscape .oneshot-volume {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0.75em;
    width: calc(100% - 1.5em);
    min-width: 50px;
}
